# Dependencies (Thư mục cài đặt thư viện)
/node_modules
/.pnp
.pnp.js

# Environment variables (Cực kỳ quan trọng: Giữ lại API Key không cho đẩy lên GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Production builds (Thư mục xuất file chạy)
/build
/dist

# Logs (File ghi nhận lỗi)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cấu hình Trình soạn thảo & Hệ điều hành
.vscode/
.idea/
.DS_Store
Thumbs.db
